<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samichankesor.coffeeApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuxWalk"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <activity
            android:name="com.samichankesor.coffeeApp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.samichankesor.coffeeApp.HomeActivity" />
        <activity android:name="com.samichankesor.coffeeApp.ShowDetailActivity" />
        <activity android:name="com.samichankesor.coffeeApp.ShowCartActivity" />
        <activity android:name="com.samichankesor.coffeeApp.CheckoutActivity" />
        <activity android:name="com.samichankesor.coffeeApp.NotificationActivity" />
        <activity android:name="com.samichankesor.coffeeApp.ProfileActivity"/>
        <activity android:name="com.samichankesor.coffeeApp.FavouriteActivity"
            />
    </application>

</manifest>
